body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #023a75;
    margin: 0;
    font-family: Arial;
    width: 100vw;   
}
.calculator {
    display: flex;
    flex-direction: column;
    background: #d9ecfb;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(25, 235, 2, 0.893);
}
h1{
    text-align: center;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}
#display {
    height: 40px;
    width: 310px;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    border: 2px solid black;
}
.buttons {
    margin: 0 auto;
    display: grid;

    grid-template-columns: repeat(4, 75px);
    gap: 10px;
}
button {
    height: 60px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    border: 2px solid black;
}
.num {
    background: #eef6ff;
    color: #0056b3;
}
.op {
    background: #8b8b8b;
    color: #fff;
}
.equal {
    background: #0071d4;
    color: #fff;
    grid-row: span 2;
    height: 130px;
}
.clear {
    background: #ff3b3b;
    color: #fff;
}
.del {
    background: #555;
    color: #fff;
}
button:hover {
    transform: scale(1.08);
    background-color: rgb(8, 223, 133);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7); /* Glow effect */
}